* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
}

.form-container {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #111;
}

p {
    margin-bottom: 25px;
    color: #666;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #463AE8FF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: background 0.3s;
}

button:hover {
    background-color: #463AE8FF;
}

.switch-link {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

.switch-link a {
    color: #463AE8FF;
    text-decoration: none;
    font-weight: bold;
}z

.switch-link a:hover {
    text-decoration: underline;
}
