
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* --- LEFT SIDE --- */
.left {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

.left .blue {
    color: #463AE8;
}

.login-title {
    color: #777;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

form {
    width: 70%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

.btn-login {
    background-color: #463AE8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #463AE8;
}

.btn-google {
    background-color: #f3f4f6;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 13px;
}

.options a {
    text-decoration: none;
    color: #333;
}

.options a:hover {
    text-decoration: underline;
}

.new-account {
    color: #555;
}

/* --- RIGHT SIDE --- */
.right {
    flex: 1;
    background-image: url('../Pictures/SignUpAndSignIn_Background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 64, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.overlay h1 {
    font-size: 28px;
    font-weight: 700;
}

.overlay p {
    margin-top: 10px;
    font-size: 20px;
}
